<!DOCTYPE html>
<html>
<head>
  <title>Письмо верификации</title>
</head>
<body>
<h1>Письмо верификации</h1>
<h1>Привет {{name}},</h1>
<p>Перейдите по ссылке ниже, чтобы продолжить регистрацию:</p>
<a href="{{url}}">Подвердить почту</a>
<p>Если вы ничего не регистрировали, то просто проигнорируйте это сообщение</p>
<p>С уважением, Белорусская Образовательная Музыкальная компания</p>
</body>
</html>
